/*estilos civil.html*/
.item{
    border: solid black;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: white;
    @include size (100%, auto)
}
.item h5{
    text-decoration: underline;
    font-weight: bold;
}
.item-1{
    grid-area: item-1;
    @include box (0%, 1%);
}
.item-2{
    grid-area: item-2;
}
.item-3{
    grid-area: item-3;
}
.item-4{
    grid-area: item-4;
}
.item-5{
    grid-area: item-5;
}
.item-6{
    grid-area: item-6;
}
.item-7{
    grid-area: item-7;
}