/*estilos civil.html*/



.containerGrid{
    .item-2{
        grid-area: item-2;
    }
    .item-3{
        grid-area: item-3;
    }
    .item-4{
        grid-area: item-4;
    }
    .item-5{
        grid-area: item-5;
    }
    .item-6{
        grid-area: item-6;
    }
    .item-7{
        grid-area: item-7;
    }
    @extend .extendGrids;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (7, 1fr);
    grid-template-areas: 
    "item-1"
    "item-2"
    "item-3"
    "item-4"
    "item-5" 
    "item-6"
    "item-7";
    gap: 1vw;
    margin-bottom: 10%;
    margin-left: 0%;
    padding: 0%;
    @media(min-width:480px){
        grid-template-columns:1fr 1fr;
        grid-template-rows: repeat (6, 1fr);
        grid-template-areas: 
        "item-1 item-1"
        "item-2 item-3"
        "item-4 item-5" 
        "item-6 item-7";
        gap: 1vw;
        align-items: $align;
        justify-items: $aligm;
    }
    @media(min-width:1024px){
        grid-template-rows: 0.2fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "item-1 item-1 item-1"
        "item-2 item-3 item-4"
        "item-5 item-6 item-7";
        gap: 1vw;
    }
    .item-1{
        grid-area: item-1;
        @include box (0%, 1%);
    }
    .item{
        border: solid black;
        display: flex;
        flex-direction: column;
        padding: 2%;
        background-color: white;
        @include size (100%, auto);
        .item h5{
            text-decoration: underline;
            font-weight: bold;
        }
    }
}