/*estilos particulares al archivo index.html*/
main{
    .paragraph{
        text-align: justify;
        line-height: 250%;
        padding-left: 4%;
        padding-right:4%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    #quote{
        text-align: center;
        font-style: italic;
    }
}