/*estilos particulares al archivo index.html*/
main{
    .paragraph{
        text-align: justify;
        line-height: 250%;
        padding: 4%;
    }
    #quote{
        text-align: center;
        font-style: italic;
    }
}