.container-mine{
    @media (max-width:480px){
        @include box (2%, 1%);
        h3 {
            @include box (0.5%, 0.5%);
        }
        .laboral__details{
            @include box (0.5%, 0.3%)
        }
    }
    .laboral__details{
        padding-left: 5%;
        padding-right: 5%;
        text-align: $align;
    }
}