/*tags responsive con media queries*/ 
/*etiquetas comunes a todos los html*/
body{
    background-color: #FEFDFF;
    @media(min-width:480px){
        background-color: #e7efc5;
    }
    @media(min-width:1024px){
        background-color: #DADDD8;
    }
}
h1{
    font-size: 300%;
    @media(min-width:480px){
        font-size: 450%;
    }
    @media(min-width:1024px){
        font-size: 600%;
    }
}
nav li{
    @media(min-width:992px){
        width: 17vw;
    }
}
/*quienesSomos.html*/
.flex__container{
    gap: 15px;
    @extend .extendGrids;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "container_1"
    "container_2";
    @media(min-width:480px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "container_1 container_2";
    }
    @media(min-width:1024px){
        grid-template-columns: 1fr;
        grid-template-areas: 
        "container_1"
        "container_2";
        margin: 2%;
        gap: 2vw;
    }
}

.little_container{
    @include box (2%, 2%);
    @media(min-width:480px){
        @include box (2%, 2%);
        border: solid black;
    }
    @media(min-width:1024px){
        @include box (0%, 0%);
        border: none;
    }
}
.container_info{
    @media(min-width:480px){
        border: solid black;
        padding: 3%;
    }
    @media(min-width:1024px){
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 2%;
        margin:2%;
        text-align: justify;
        border: solid black;
        background-color: white;
    }
    img {
        @include size (20%, 30%);
        @media(min-width:480px) {
            @include size (40%, 40%);
        }
        @media(min-width:1024px){
            @include size (25%, 20%);
            padding: 1%;
            padding-top: 3%;
        }
    }
    .descripcion{
        @media(min-width:1024px){
            display: flex;
            flex-direction: column;
            padding: 2%;   
            align-items: justify;
            justify-content: center;
        }
        h3 {
            @media(min-width:1024px){
                text-align: left;
                padding-left: 0%;
            }
        }
    }
}
/*civil.html*/
.containerGrid{
    @extend .extendGrids;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (7, 1fr);
    grid-template-areas: 
    "item-1"
    "item-2"
    "item-3"
    "item-4"
    "item-5" 
    "item-6"
    "item-7";
    gap: 1vw;
    margin-bottom: 10%;
    margin-left: 0%;
    padding: 0%;
    @media(min-width:480px){
        grid-template-columns:1fr 1fr;
        grid-template-rows: repeat (6, 1fr);
        grid-template-areas: 
        "item-1 item-1"
        "item-2 item-3"
        "item-4 item-5" 
        "item-6 item-7";
        gap: 1vw;
        align-items: center;
        justify-items: center;
        margin-bottom: 10%;
        margin-left: 0%;
    }
    @media(min-width:1024px){
        grid-template-rows: 0.2fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "item-1 item-1 item-1"
        "item-2 item-3 item-4"
        "item-5 item-6 item-7";
        gap: 1vw;
        margin-bottom: 10%;
        margin-left: 0%;
    }
}