/*tags responsive con media queries*/ 
body{
    background-color: #BEE3DB;
    @media(min-width:480px){
        background-color: #A9D3FF;
    }
    @media(min-width:1024px){
        background-color: #9EC1A3;
    }
}
h1{
    font-size: 300%;
    @media(min-width:480px){
        font-size: 450%;
    }
    @media(min-width:1024px){
        font-size: 600%;
    }
}
nav li{
    @media(min-width:1024px){
        width: 17vw;
    }
}