/*estilos particulares del archivo quienesSomos.html*/
.flex__container{
    .container_1{
        grid-area: container_1;
    }
    .container_2{
        grid-area: container_2;
    }
    gap: 15px;
    @extend .extendGrids;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "container_1"
    "container_2";
    @media(min-width:480px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "container_1 container_2";
    }
    @media(min-width:1024px){
        grid-template-columns: 1fr;
        grid-template-areas: 
        "container_1"
        "container_2";
        margin: 2%;
        gap: 2vw;
    }
    .little__container{
        background-color: white;
        @include box (2%, 2%);
        border: solid black;
        @media(min-width:480px){
            @include box (2%, 2%);
        }
        @media(min-width:1024px){
            @include box (0%, 0%);
            border: none;
            margin-top: 0%;
            margin-bottom: 0%;
            padding-top: 0%;
            padding-bottom: 0%;
        }
        .container_info{
            @media(min-width:480px){
                padding: 3%;
            }
            @media(min-width:1024px){
                display: flex;
                flex-direction: row;
                justify-content: start;
                padding: 2%;
                margin:0%;
                text-align: justify;
            }
            img{
                @include size (30%, 40%);
                @media(min-width:480px) {
                    @include size (40%, 50%);
                }
                @media(min-width:764px) {
                    @include size (50%, 60%);
                }
                @media(min-width:1024px){
                    @include size (25%, 20%);
                    padding: 1%;
                    padding-top: 1%;
                }
            }
            .descripcion{
                font-size: 95%;
                @media(min-width:1024px){
                    display: flex;
                    flex-direction: column;
                    padding: 2%;   
                    align-items: justify;
                    justify-content: center;
                }
                h3 {
                    padding: 5%;
                    @media(min-width:1024px){
                        text-align: left;
                        padding: 1%;
                        padding-left: 0%;
                    }
                }
            }
        }
    }
}